header{
    display: flex;
    background-color: aliceblue;
    padding:1rem;

   ul{
    display: flex;
    justify-content: space-evenly;
    width: 78vw;
    text-align: center;
    list-style: none;
   }
   
}